.logged-out-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.logged-out-title {
    color: white;
    font-family: 'Jost', sans-serif;
}

.landing-component {
    margin: -17%;
}

.redirect-countdown {
    color: white;
}

@media (max-width: 480px) {
    .logged-out-container {
        margin-top: -150%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .logout-container {
        font-size: 10px;
    }
}