@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
    --color: #fa6086;
}

.quizWrapper {
    color: white;
}

.startQuiz {
    width: 30vw;
    height: 20vh;
    color: rgb(218, 199, 206);
    margin: 10% 10% 25% 35%;
    font-size: 2em;
    font-family: 'Bungee Shade';
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.712) 0%, rgba(252, 43, 120, 0.774) 50%, rgba(69, 249, 252, 0.76) 100%);
    box-shadow: 5px 5px 5px rgba(50, 205, 50, 0.5), -5px -5px 5px rgba(255, 105, 180, 0.5);
    border-radius: 50px;
}

.startQuiz:hover {
    color: white;
    transition: box-shadow 0.2s;
    transition: background-color 3s ease-out;
    background: linear-gradient(90deg, rgba(69, 249, 252, 0.76) 0%, rgba(252, 43, 120, 0.774) 50%, rgba(131, 58, 180, 0.712) 100%);
    box-shadow: 15px 15px 10px rgba(50, 205, 50, 0.2), -15px -15px 10px rgba(255, 105, 180, 0.2);
}

.quizItems {
    font-family: 'Bungee Shade', cursive;
    width: 50vw;
    display: flex;
    margin-left: 22.2%;
    margin-top: 15%;
    padding: 2.5%;
    flex-direction: column;
    background: linear-gradient(-45deg, rgba(131, 58, 180, 0.712), rgba(252, 43, 120, 0.774), rgba(69, 249, 252, 0.76));
    background-size: 400%;
    border: 0.5em solid;
    border-image-source: linear-gradient(30deg,#d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
    border-image-slice: 1;
    border-style: groove;
    animation: gradient 10s ease;
    animation-iteration-count: infinite;
}

@keyframes gradient {
	0% {
        background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.category-difficulty {
    font-family: 'Jost', sans-serif;
    font-size: 0.9em;
    text-transform: capitalize;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.radio__label {
    font-family: 'Righteous', sans-serif;
    margin: 0 0 2% 2%;
}


.radio__input, .radio__answer {
    padding: 2%;
}

.quiz-timeLeft {
    text-align: center;
}

.quiz-nextQuestion {
    font-family: 'Righteous', sans-serif;
    font-size: 2em;
    width: 20vw;
    margin-left: 30%;
    background: linear-gradient(30deg,#d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
    border: 0.05em groove;
    border-image-source: linear-gradient(30deg,#d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
    border-image-slice: 1;
    color: white;
    padding: 1%;
}

.quiz-nextQuestion:hover {
    background: linear-gradient(60deg,#d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
    font-size: 2.1em;

}
