@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

html, body {
    margin: 0;
}

.navbar-container {
    display: flex;
    /* background-color:#ffffff; */
    /* background-color: #FA6086; */
    background: rgb(7, 1, 34);
}


.logo-container {
    display: flex;
    justify-content: flex-start;
    width: 33.3%;
    margin: 1%;
}

.logo {
    width: 20vw;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.navbar-item {
    margin: 2%;
    list-style-type: none;
    width: 45%;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

.navbar-item, a:visited {
    color: #FA6086;
    text-decoration: none;
}
a:link {
    color: #FFFFFF;
}
a:visted:active {
    color: #FA6086;
}
a:hover {
    color: #FA6086;
}