@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.navbar-container {
    display: flex;
    /* background-color:#ffffff; */
    /* background-color: #FA6086; */
    background: rgb(7, 1, 34);
    position: absolute;
    width: 100vw;
    height: 7vw;
    z-index: 999;
    position: fixed;
    top: 0;
    padding: 1% 0% 1% 0%;
}


.logo-container {
    display: flex;
    justify-content: flex-start;
    width: 33.3%;
    margin: 1%;
}

.logo {
    width: 20vw;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.navbar-item {
    margin: 2%;
    list-style-type: none;
    width: 45%;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

.navbar-item, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-item, a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-item, a:visited:active {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-item, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.user-container {
    display: flex;
    flex-direction: column;
    margin-top: -1.5%;
}

.profile-pic {
    width: 80px;
    height: 85px;
    border-radius: 50%;
    border: 3.2px solid #FA6086;
}

.username-text {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 22px;
    color: #FA6086;
}

.logout-container {
    display: flex;
    flex-direction: column;
    margin: 1% 4% 0% 4%;
}

.logout-button-container {
    display: flex;
    flex-direction: column;
    color: #FA6086;
    padding: 1%;
    display: block;
}

.logout-icon {
    margin: 5px 0px 0px 5px;
}

.logout-button-text {
    color: #FA6086;
    font-family: 'Jost', sans-serif;
    margin: 0;
    font-size: 18px;
}