.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-title-container {
    position: absolute;
    left: 790px;
    top: 250px;
    transform: translateX(-50%) translateY(-50%) rotateX(15deg);
    text-align: center;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.svg-container svg {
    width: 0;
}

.neon-text {
    font-family: 'Bungee Shade';
    font-size: 70px;
    color:#ffedff;
    padding: 10px;
    filter: url(#stroke) url(#inner-glow) url(#outer-glow) url(#outer-glow1);
}

.delete-acc-text {
    color: white;
    margin-left: 40px;
}