.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-text {
    margin: 150px;
    font-family: 'Jost', sans-serif;
    color: white;
}