.Footer-container {
    background: #c4f43c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /* margin-top: 16vw; */
    padding: 10px;
    font-family: 'Jost', sans-serif;
    height: 220px;
    z-index: 999;
}
.footer-img {
    position: absolute;
    top: -3vw;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
.Footer-container img {
    max-width: 10vw;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}
.boring-footer {
    padding-top: 1.5vw;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.boring-footer ul, .boring-footer h3 {
    list-style: none;
    padding: 0;
    text-align: center;
}
.Footer-container a {
    color: black;
}
.Footer-container a:hover, .Footer-container a:focus {
    color: #Fa6086;
}