@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

input {
    font-family: 'Jost', sans-serif;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* min-height: 100vh; */
    /* z-index: 999; */
}

.login-title {
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    background-color: #12BADE;
    padding: 5%;
    border-radius: 25px;
}

.email-container {
    display: flex;
}

.password-container {
    display: flex;
}

.email-signin {
    margin: 0px 10px 10px 10px;
}

.password-signin {
    margin: 0px 0px 10px 30px;
}

.submit-login {
    margin-top: 20px;
    width: 100px;
    color: rgb(255, 255, 255); 
    font-size: 15px; 
    line-height: 19px; 
    padding: 9px; 
    border-radius: 1px; 
    margin: 10px;
    background-color: #FA6086; 
    border: 3px outset #630EAC; 
    border-radius: 12px;
    cursor: pointer;
}

.signup-link {
    margin-top: 10px;
    color: #FA6086;
}

.signup-link a:visited {
    text-decoration: none; 
    color:#FA6086; 
}
.signup-link a:hover {
    text-decoration: none; 
    color:#FA6086; 
}
.signup-link a:focus {
    text-decoration: none; 
    color:#FA6086; 
}
.signup-link a:hover, a:active {
    text-decoration: none; 
    color:#FA6086;
}