.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* min-height: 100vh; */
}

.signup-title {
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
}
.signup-container a {
    color: white;
    text-decoration: none;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    background-color: #12BADE;
    padding: 5% 8% 5% 7%;
    border-radius: 25px;
}

.username-signup-container {
    display: flex;
}

.email-signup-container {
    display: flex;
}

.password-signup-container {
    display: flex;
}

.username-signup {
    margin: 0px 0px 10px 10px;
}

.email-signup {
    margin: 0px 0px 10px 40px;
}

.password-signup {
    margin: 0px 0px 10px 11px;
}

.password-check {
    margin: 0px 0px 10px 15px;
}

@media (max-width: 480px) {
    .signup-container {
        margin-top: -150%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .signup-container {
        font-size: 10px;
    }
}